@model WebApplication1.Models.Book

@{
    ViewBag.Title = "Create";
}
@{ 
    var date = ViewBag.Date;
}


<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Book</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        <div class="col-md-10">
            流水號 @Html.EditorFor(model => model.Book_Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            書名 @Html.EditorFor(model => model.Book_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            作者 @Html.EditorFor(model => model.Book_Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Author, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">

        <div class="col-md-10">
            出版商 @Html.EditorFor(model => model.Book_Publisher, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Publisher, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">

            內容簡介 <br>
            @Html.TextAreaFor(model => model.Book_Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            購書日期<br>
            @Html.TextBoxFor(model => model.Book_BoughtDate, new { type = "datetime-local" })
            @Html.ValidationMessageFor(model => model.Book_BoughtDate, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">

        <div class="col-md-10">
            圖書類別<br>
            @Html.DropDownList("BookClassNameList", (IEnumerable<SelectListItem>)ViewBag.ClassNameList)
            @Html.ValidationMessageFor(model => model.Book_Class_Name, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">

        <div class="col-md-10">
            <br>
            @Html.TextBoxFor(model => model.Create_Date, new { @Value = date.ToString("yyyy/MM/dd HH:mm:ss"), style = "display:none;" })

        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <br>
            @Html.TextBoxFor(model => model.Modify_Date, new { @Value = date.ToString("yyyy/MM/dd HH:mm:ss"), style = "display:none;" })

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="存檔" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
