@model WebApplication1.Models.Book

@{
    ViewBag.Title = "Delete";
}
@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.Message');

});

    </script>

}

<h2>Delete</h2>

<h3>確定刪除?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            書名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>

        <dt>
           作者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Author)
        </dd>

        <dt>
            購書日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_BoughtDate)
        </dd>

        <dt>
            出版商
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Publisher)
        </dd>

        <dt>
            內容簡介
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Note)
        </dd>

        <dt>
            借閱狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Status)
        </dd>

        <dt>
            借閱人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Keeper)
        </dd>

        <dt>
            建立日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Date)
        </dd>

        <dt>
            建立人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_User)
        </dd>

        <dt>
            修改日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modify_Date)
        </dd>

        <dt>
            修改人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modify_User)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
