@model WebApplication1.Models.Book

@{
    ViewBag.Title = "Edit";
}
@{
    var date = ViewBag.Date;
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Book</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Book_Id)

    <div class="form-group">

        <div class="col-md-10">
            書名<br>
            @Html.EditorFor(model => model.Book_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            作者<br>
            @Html.EditorFor(model => model.Book_Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            購書日期<br>
            @Html.EditorFor(model => model.Book_BoughtDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_BoughtDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            出版商<br>
            @Html.EditorFor(model => model.Book_Publisher, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Publisher, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            內容簡介<br>
            @Html.EditorFor(model => model.Book_Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            圖書類別<br>
            @Html.DropDownList("BookClassNameList", (IEnumerable<SelectListItem>)ViewBag.ClassNameList)
            @Html.ValidationMessageFor(model => model.Book_Class_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            借閱狀態<br>
            @Html.DropDownList("BookStatusList", (IEnumerable<SelectListItem>)ViewBag.StatusList)
            @Html.ValidationMessageFor(model => model.Book_Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            借閱人<br>
            @Html.EditorFor(model => model.Book_Keeper, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Keeper, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">

        <div class="col-md-10">

            @Html.EditorFor(model => model.Create_Date, new { htmlAttributes = new { @class = "form-control", style = "display:none;" } })
            @Html.EditorFor(model => model.Create_User, new { htmlAttributes = new { @class = "form-control", style = "display:none;" } })
            @Html.EditorFor(model => model.Modify_User, new { htmlAttributes = new { @class = "form-control", style = "display:none;" } })
        </div>
    </div>


    <div class="form-group">

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Modify_Date, new { @Value = date.ToString("yyyy/MM/dd HH:mm:ss"), style = "display:none;" })

        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
