@model PagedList.IPagedList<WebApplication1.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
<p>
    書名: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <br>
    圖書類別:@Html.DropDownList("BookClassNameList", (IEnumerable<SelectListItem>)ViewBag.ClassNameList)
    <br>
    借閱人:@Html.DropDownList("BookKeeperList", (IEnumerable<SelectListItem>)ViewBag.KeeperList)
    <br>
    借閱狀態: @Html.DropDownList("BookStatusList", (IEnumerable<SelectListItem>)ViewBag.StatusList)
    <br>
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("書名", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            作者
        </th>
        <th>
            @Html.ActionLink("購買日期", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            出版社
        </th>
        <th>
            內容簡介
        </th>
        <th>
            借閱狀態
        </th>
        <th>
            借閱人
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_BoughtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Keeper)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Book_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Book_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Book_Id })
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
