@model WebApplication1.Models.Member

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_EName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_EName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modify_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modify_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modify_User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modify_User)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
